<nav class="navbar sticky-top navbar-expand-lg bg-primary">
    <div class="container">
        <img src="../../assets/images/obs-logo.jpg" height="50rem" class="rounded">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto w-100 justify-content-end ">
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-dashboard" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user-profile" routerLinkActive="active">Profile</a>
            <li class="nav-item">
              <a class="nav-link" routerLink="user-shops" routerLinkActive="active">Shops</a>
              <li class="nav-item">
                <a class="nav-link" routerLink="user-searchbooks" routerLinkActive="active">SearchBooks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="user-mybooks" routerLinkActive="active">MyBooks</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" routerLink="user-favourites" routerLinkActive="active">Favourites</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="user-add-queries" routerLinkActive="active">AddQueries</a>
              </li>


              <li class="nav-item">
                <a class="nav-link" routerLink="user-view-queries" routerLinkActive="active">ViewQueries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="user-change-pwd" routerLinkActive="active">Changepassword</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="logOut()">Logout</a>
              </li>                
        </ul>
      </div>
    </div>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
