<div class="d-flex justify-content-center align-items-center mt-3">
    <div class="col-md-4 p-5 shadow-sm  bg-white">
        <h2 class="text-center mb-4 text-primary">Shopkeeper Change Password</h2>
        <form [formGroup]="changePWDForm" (ngSubmit)="changePWD()">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="email" class="form-control border border-primary" formControlName="username" [attr.disabled]="true">
            </div>
            <div class="mb-3">
                <label class="form-label">Enter Old Password</label>
                <input type="password" class="form-control border border-primary" formControlName="password">
            </div>
            <div class="mb-3">
                <label class="form-label">Enter New Password</label>
                <input type="password" class="form-control border border-primary" formControlName="newpassword">
            </div>
            <div class=" text-center mt-4">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>