<div class="container-fluid table-responsive py-5"> 
    <table class="table table-bordered table-hover text-center align-middle">
      <thead class="table-dark">
        <tr>
          
          <th scope="col">S.No</th>
          <th scope="col">Shop-Keeper</th>
          <th scope="col">Category</th>
          <th scope="col">Sub-Category</th>
          <th scope="col">Book-Name</th>
          <th scope="col">Authour</th>
          <th scope="col">Publisher</th>
          <th scope="col">Volumes</th>
          <th scope="col">Price</th>
          <th scope="col">Type</th>
          <th scope="col">Image</th>
          <th scope="col">Download</th>
          <th scope="col">Actons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of allBooks index as i">
          <td>{{i+1}}</td>
          <td>{{b.username}}</td>
          <td>{{b.category}}</td>
          <td>{{b.subcategory}}</td>
          <td>{{b.bookname}}</td>
          <td>{{b.authour}}</td>
          <td>{{b.publisher}}</td>
          <td>{{b.volume}}</td>
          <td>{{b.price}}</td>
          <td>{{b.type}}</td>
          <td class="w-10p"><img src="{{b.image}}" ></td>
          <td> <i class="bi bi-arrow-down-circle-fill" style="font-size: 2em; color: rgb(37, 105, 233);" (click)="downloadBook(b.file)"></i></td>
          <td>
            <i class="bi bi-pencil-square" style="font-size: 1.5em; color:blue;" onclick="editbook.showModal()"></i> &nbsp;
            <i class="bi bi-trash3-fill" style="font-size: 1.5em; color: red;"></i>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    

    <dialog id="editbook">
       
    </dialog>